// 
$appNotesBG: #9FA8DA;
$appNavBgColor: #3D5AFE;
$appInputboxText: #E8EAF6;

.login-page {
    width: 100%;
    height: 100vh;
    font-family: 'Jost';
    .login-form-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40%;
        height: auto;
        background-color: $appNotesBG;
        padding: 25px 15px 15px 15px;
        border-radius: 10px;
        color: $appInputboxText;
        transition: all 0.5s ease-in-out;
        .login-input-holder {
            position: relative;
            display: flex;
            justify-content: center;
            height: 70px;
            margin: 15px 0px 15px 0px;
            .login-input {
                @extend .input;
                &:focus +.login-label, &:valid +.login-label{ 
                    font-size: x-small;
                    top: 5%;
                    transform: none;
                }
            }
            .login-label {
                position: absolute;
                left: 7%;
                top: 50%;
                transform: translateY(-50%);
                font-size: 1.5em;
                transform-origin: left top;
                transition: all 0.3s ease;
                cursor: text;
            }
            &.radio {
                width: 90%;
                flex-direction: column;
                align-items: center;
                .login-radio-head {
                    display: block;
                    width: 85%;
                }
                .login-radio-buttons {
                    display: flex;
                    flex-direction: row;
                    .login-radio {
                        margin: 0.5rem;
                        input[type="radio"] {
                          position: absolute;
                          opacity: 0;
                          + .login-radio-label {
                            &:before {
                              content: '';
                              background: $appNotesBG;
                              border-radius: 100%;
                              border: 1px solid darken($appNotesBG, 25%);
                              display: inline-block;
                              width: 1.4em;
                              height: 1.4em;
                              position: relative;
                              top: -0.2em;
                              margin-right: 1em; 
                              vertical-align: top;
                              cursor: pointer;
                              text-align: center;
                              transition: all 250ms ease;
                            }
                          }
                          &:checked {
                            + .login-radio-label {
                              &:before {
                                background-color: $appNotesBG;
                                box-shadow: inset 0 0 0 4px $appNavBgColor;
                              }
                            }
                          }
                          &:focus {
                            + .login-radio-label {
                              &:before {
                                outline: none;
                                border-color: $appNotesBG;
                              }
                            }
                          }
                          &:disabled {
                            + .login-radio-label {
                              &:before {
                                box-shadow: inset 0 0 0 4px $appNavBgColor;
                                border-color: darken($appNavBgColor, 25%);
                                background: darken($appNavBgColor, 25%);
                              }
                            }
                          }
                          + .login-radio-label {
                            &:empty {
                              &:before {
                                margin-right: 0;
                              }
                            }
                          }
                        }
                      }
                }
            } 
            &.select {
                .login-select {
                    width: 90%;
                    color: $appInputboxText;
                    background-color: $appNavBgColor;
                    border-radius: 10px;
                    border: 0px;
                    outline: none;
                    font-size: 1.5em;
                    font-family: inherit;
                    text-indent: 8px;
                    .login-select-options {

                    }
                }
            }
        }
        .login-button-holder {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 3em;
            button {
                @extend .login-button;
            }
        }
    }
}

.input {
    font-size: 1.5em;
    font-family: jost;
    width: 90%;
    background-color: $appNavBgColor;
    border: 0;
    outline: none;
    color: $appInputboxText;
    border-radius: 5px;
    text-indent:20px;
    cursor: text;
}

.login-button {
    font-family: 'jost';
    background-color: $appNavBgColor;
    color: $appInputboxText;
    height: 80%;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    padding: 0px 15px;
    cursor: pointer;
    outline: none;
    transition: box-shadow ease 0.5s;
    &:hover {
        box-shadow: 0px 0 10px 0 $appInputboxText;
    }
}
